.block {
    padding-top: 50px;
}

.article {
    margin-bottom: 46px;
}

.article img {
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: 10px;
    object-fit: cover;
}

.article p, h3 {
    color: black;
    padding: 0 10%;
    text-align: center;
    margin: 0;
}

.article p {
    font-size: 11px;
    text-transform: lowercase;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.pagination button {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 12px;
    margin: 0 4px;
    cursor: pointer;
    font-size: 11px;
    color: black
}

.pageNumber:hover {
    background-color: #000;
    color: #fff;
}

.rightArrow, .leftArrow {
    background-color: transparent !important;
}


.pagination .pageNumber.active {
    background-color: #000;
    color: #fff;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
