.block {
    margin-top: 65px;
}

.imageBlock {
    background-color: #F8F8F8;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}

.imageBlock > img {
    height: 90%;
}

.mess {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    object-fit: contain;
    transform: translateY(-35%);
}

@media screen and (min-width: 509px) {
    .mess {
        transform: translateY(-25%);
    }
}

@media screen and (min-width: 640px) {
    .mess {
        transform: translateY(-15%);
    }

}

@media screen and (min-width: 888px) {
    .mess {
        transform: translateY(-10%);
    }
}

@media screen and (min-width: 926px) {
    .mess {
        transform: translateY(-25%);
    }
}

@media screen and (min-width: 1000px) {
    .block {
        margin-top: -30px;
    }
}

@media screen and (min-width: 1220px) {
    .imageBlock{
        height: 90vh;
        max-height: 1000px;
    }

    .imageBlock > img {
        height: 95%;
    }

    .mess {
        transform: translateY(-15%);
    }

}
