.block{
    position: relative;
}

.mess {
    position: absolute;
    right: 0;
    top: 50%;
    width: 40%;
    object-fit: contain;
    z-index: -10;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
}

.block h2 > a {
    color: black;
    font-weight: bold;
    display: inline-block;
    position: relative;
    transition: transform 0.3s;
    font-size: 29px;
}

.block h2 > a:hover {
    animation: jump 1s ease-in-out infinite;
}

.block a{

}

@media screen and (min-width: 768px) {

    .block h2 > a{
        font-size: 50px;
    }

    .mess {
        top: 30%;
    }

}


@media screen and (min-width: 1220px) {
    .block h2 > a{
        font-size: 90px;
    }
}

@media screen and (min-width: 1500px) {
    .mess {
        top: 20%;
        max-width: 800px;
    }
}
